<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bjtu.cyllk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".business.Welcome"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.BaseActivity" >
        </activity>
        <activity
            android:name=".business.Login"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".business.PlayerList" >
        </activity>
        <activity android:name=".business.FriendList" >
        </activity>
        <activity
            android:name=".business.Register"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".business.ChooseMode"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".game.Bangzhu"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".game.Shangcheng"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".game.XitongSound"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
                <activity android:name=".game.XitongXinxi"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" > 
        </activity>
        <activity
            android:name=".game.XlxfMode"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".game.ZfdmGame" 
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".game.ZzsfGame" 
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".game.XlxfGame"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" > 
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>